-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: locadora
-- ------------------------------------------------------
-- Server version   8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cargo`
--

DROP TABLE IF EXISTS `cargo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cargo` (
  `id_cargo` int NOT NULL AUTO_INCREMENT,
  `nome_cargo` varchar(100) NOT NULL,
  `descricao_permissoes` text NOT NULL,
  PRIMARY KEY (`id_cargo`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cargo`
--

LOCK TABLES `cargo` WRITE;
/*!40000 ALTER TABLE `cargo` DISABLE KEYS */;
INSERT INTO `cargo` VALUES (1,'Atendente','Registrar locações, devoluções e pagamentos.'),(2,'Gerente','Acesso total ao sistema, gerenciar frota e funcionários.'),(3,'Mecânico','Registrar manutenções e atualizar status de veículos.');
/*!40000 ALTER TABLE `cargo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categoria_veiculo`
--

DROP TABLE IF EXISTS `categoria_veiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categoria_veiculo` (
  `id_categoria_veiculo` int NOT NULL AUTO_INCREMENT,
  `nome_categoria` varchar(100) NOT NULL,
  `valor_diaria` decimal(10,2) NOT NULL,
  `valor_caucao` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_categoria_veiculo`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria_veiculo`
--

LOCK TABLES `categoria_veiculo` WRITE;
/*!40000 ALTER TABLE `categoria_veiculo` DISABLE KEYS */;
INSERT INTO `categoria_veiculo` VALUES (1,'Compacto',120.00,700.00),(2,'Sedan Médio',180.50,900.00),(3,'SUV',250.00,1200.00),(4,'Picape',300.00,1500.00),(5,'Elétrico',350.75,1800.00);
/*!40000 ALTER TABLE `categoria_veiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cliente` (
  `id_cliente` int NOT NULL AUTO_INCREMENT,
  `nome_completo` varchar(255) NOT NULL,
  `cpf` varchar(14) NOT NULL,
  `data_nascimento` date NOT NULL,
  `telefone` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `tempo_habilitacao_anos` int NOT NULL,
  `id_endereco` int NOT NULL,
  `id_cnh` int NOT NULL,
  PRIMARY KEY (`id_cliente`),
  UNIQUE KEY `cpf` (`cpf`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `id_cnh` (`id_cnh`),
  KEY `id_endereco` (`id_endereco`),
  CONSTRAINT `cliente_ibfk_1` FOREIGN KEY (`id_endereco`) REFERENCES `endereco` (`id_endereco`),
  CONSTRAINT `cliente_ibfk_2` FOREIGN KEY (`id_cnh`) REFERENCES `cnh` (`id_cnh`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
INSERT INTO `cliente` VALUES (19,'Guilherme Uehara','11111111111','2000-01-25','12142143','yguilherme1358@gmail.com',4,26,19);
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cnh`
--

DROP TABLE IF EXISTS `cnh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cnh` (
  `id_cnh` int NOT NULL AUTO_INCREMENT,
  `numero_registro` varchar(20) NOT NULL,
  `categoria` varchar(5) NOT NULL,
  `data_validade` date NOT NULL,
  PRIMARY KEY (`id_cnh`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cnh`
--

LOCK TABLES `cnh` WRITE;
/*!40000 ALTER TABLE `cnh` DISABLE KEYS */;
INSERT INTO `cnh` VALUES (13,'90','B','2025-11-30'),(14,'20','C','2025-11-30'),(19,'9000','B','2025-11-30');
/*!40000 ALTER TABLE `cnh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `combustivel`
--

DROP TABLE IF EXISTS `combustivel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `combustivel` (
  `id_combustivel` int NOT NULL AUTO_INCREMENT,
  `tipo_combustivel` varchar(100) NOT NULL,
  PRIMARY KEY (`id_combustivel`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `combustivel`
--

LOCK TABLES `combustivel` WRITE;
/*!40000 ALTER TABLE `combustivel` DISABLE KEYS */;
INSERT INTO `combustivel` VALUES (1,'Gasolina'),(2,'Álcool'),(3,'Diesel'),(4,'Flex'),(5,'Elétrico');
/*!40000 ALTER TABLE `combustivel` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `endereco`
--

DROP TABLE IF EXISTS `endereco`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `endereco` (
  `id_endereco` int NOT NULL AUTO_INCREMENT,
  `logradouro` varchar(255) NOT NULL,
  `numero` varchar(10) NOT NULL,
  `complemento` varchar(100) DEFAULT NULL,
  `bairro` varchar(100) NOT NULL,
  `cidade` varchar(100) NOT NULL,
  `estado` char(2) NOT NULL,
  `cep` varchar(9) NOT NULL,
  PRIMARY KEY (`id_endereco`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `endereco`
--

LOCK TABLES `endereco` WRITE;
/*!40000 ALTER TABLE `endereco` DISABLE KEYS */;
/*!40000 ALTER TABLE `endereco` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `forma_pagamento`
--

DROP TABLE IF EXISTS `forma_pagamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `forma_pagamento` (
  `id_forma_pagamento` int NOT NULL AUTO_INCREMENT,
  `descricao_pagamento` varchar(100) NOT NULL,
  PRIMARY KEY (`id_forma_pagamento`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `forma_pagamento`
--

LOCK TABLES `forma_pagamento` WRITE;
/*!40000 ALTER TABLE `forma_pagamento` DISABLE KEYS */;
INSERT INTO `forma_pagamento` VALUES (1,'Cartão de Crédito'),(2,'Cartão de Débito'),(3,'PIX'),(4,'Dinheiro');
/*!40000 ALTER TABLE `forma_pagamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `funcionario`
--

DROP TABLE IF EXISTS `funcionario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `funcionario` (
  `id_funcionario` int NOT NULL AUTO_INCREMENT,
  `id_usuario` int NOT NULL,
  `nome` varchar(255) NOT NULL,
  `cpf` varchar(14) NOT NULL,
  `rg` varchar(9) NOT NULL,
  `data_nascimento` date NOT NULL,
  `id_cargo` int NOT NULL,
  `id_endereco` int NOT NULL,
  PRIMARY KEY (`id_funcionario`),
  UNIQUE KEY `cpf` (`cpf`),
  UNIQUE KEY `rg` (`rg`),
  KEY `id_usuario` (`id_usuario`),
  KEY `id_cargo` (`id_cargo`),
  KEY `id_endereco` (`id_endereco`),
  CONSTRAINT `funcionario_ibfk_1` FOREIGN KEY (`id_usuario`) REFERENCES `usuario` (`id_usuario`),
  CONSTRAINT `funcionario_ibfk_2` FOREIGN KEY (`id_cargo`) REFERENCES `cargo` (`id_cargo`),
  CONSTRAINT `funcionario_ibfk_3` FOREIGN KEY (`id_endereco`) REFERENCES `endereco` (`id_endereco`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `funcionario`
--

LOCK TABLES `funcionario` WRITE;
/*!40000 ALTER TABLE `funcionario` DISABLE KEYS */;
INSERT INTO `funcionario` VALUES (2,1,'empresa','0','0','1999-05-26',2,1);
/*!40000 ALTER TABLE `funcionario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `locacao`
--

DROP TABLE IF EXISTS `locacao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locacao` (
  `id_locacao` int NOT NULL AUTO_INCREMENT,
  `data_retirada` datetime NOT NULL,
  `data_devolucao_prevista` datetime NOT NULL,
  `data_devolucao_real` datetime DEFAULT NULL,
  `valor_total_previsto` decimal(10,2) NOT NULL,
  `valor_final` decimal(10,2) DEFAULT NULL,
  `quilometragem_retirada` int NOT NULL,
  `quilometragem_devolucao` int DEFAULT NULL,
  `id_cliente` int NOT NULL,
  `id_veiculo` int NOT NULL,
  `id_funcionario` int DEFAULT NULL,
  `status` enum('Reserva','Locado','Chegada') NOT NULL DEFAULT 'Reserva',
  `tanque_saida` int NOT NULL,
  `tanque_chegada` int DEFAULT NULL,
  `caucao` decimal(10,2) NOT NULL,
  `devolucao` enum('Não devolvido','Devolvido') NOT NULL DEFAULT 'Não devolvido',
  PRIMARY KEY (`id_locacao`),
  KEY `id_cliente` (`id_cliente`),
  KEY `id_veiculo` (`id_veiculo`),
  KEY `id_funcionario` (`id_funcionario`),
  CONSTRAINT `locacao_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `cliente` (`id_cliente`),
  CONSTRAINT `locacao_ibfk_2` FOREIGN KEY (`id_veiculo`) REFERENCES `veiculo` (`id_veiculo`),
  CONSTRAINT `locacao_ibfk_3` FOREIGN KEY (`id_funcionario`) REFERENCES `funcionario` (`id_usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locacao`
--

LOCK TABLES `locacao` WRITE;
/*!40000 ALTER TABLE `locacao` DISABLE KEYS */;
INSERT INTO `locacao` VALUES (39,'2025-11-01 12:00:00','2025-11-08 12:00:00',NULL,1015.00,NULL,6000,NULL,19,14,1,'Reserva',8,NULL,700.00,'Não devolvido');
/*!40000 ALTER TABLE `locacao` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_bloqueia_locacao_cnh_vencida` BEFORE INSERT ON `locacao` FOR EACH ROW BEGIN
    DECLARE data_vencimento_cnh DATE;

    SELECT c.data_validade INTO data_vencimento_cnh
    FROM cliente cl
    JOIN cnh c ON cl.id_cnh = c.id_cnh
    WHERE cl.id_cliente = NEW.id_cliente;

    IF data_vencimento_cnh < CURDATE() THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'ERRO: A CNH deste cliente está vencida. Locação bloqueada.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_calcula_valor_final_locacao` BEFORE UPDATE ON `locacao` FOR EACH ROW BEGIN
    DECLARE dias_de_atraso INT DEFAULT 0;
    DECLARE valor_multa_fixa DECIMAL(10, 2) DEFAULT 0.00;
    DECLARE valor_multa_diaria DECIMAL(10, 2) DEFAULT 0.00;
    DECLARE taxa_diaria_atraso DECIMAL(10, 2) DEFAULT 400.00; -- Valor da diária por atraso
    DECLARE percentual_multa_fixa DECIMAL(4, 2) DEFAULT 0.20; -- 20%

    DECLARE v_valor_fracao_combustivel DECIMAL(10, 2);
    DECLARE v_custo_combustivel DECIMAL(10, 2) DEFAULT 0.00;

    -- A condição principal: a locação está sendo finalizada neste UPDATE?
    IF (NEW.status = 'Chegada' AND OLD.status <> 'Chegada') OR (NEW.data_devolucao_real IS NOT NULL AND OLD.data_devolucao_real IS NULL) THEN

        -- PONTO DE PARTIDA: O valor final inicial é o valor previsto.
        SET NEW.valor_final = OLD.valor_total_previsto;

        -- 1. CÁLCULO DA MULTA POR ATRASO
        IF NEW.data_devolucao_real > OLD.data_devolucao_prevista THEN
            -- Calcula a diferença de dias, arredondando para cima.
            SET dias_de_atraso = CEILING(TIMESTAMPDIFF(HOUR, OLD.data_devolucao_prevista, NEW.data_devolucao_real) / 24.0);

            SET valor_multa_fixa = OLD.valor_total_previsto * percentual_multa_fixa;
            SET valor_multa_diaria = dias_de_atraso * taxa_diaria_atraso;

            -- Adiciona as multas de atraso ao valor final
            SET NEW.valor_final = NEW.valor_final + valor_multa_fixa + valor_multa_diaria;
        END IF;

        -- 2. CÁLCULO DA MULTA DE COMBUSTÍVEL
        IF NEW.tanque_chegada IS NOT NULL AND NEW.tanque_chegada < OLD.tanque_saida THEN
            -- Busca o valor da fração de combustível para o veículo
            SELECT valor_fracao INTO v_valor_fracao_combustivel FROM veiculo WHERE id_veiculo = NEW.id_veiculo;

            -- Calcula o custo do combustível e adiciona ao valor final
            IF v_valor_fracao_combustivel IS NOT NULL THEN
                SET v_custo_combustivel = (OLD.tanque_saida - NEW.tanque_chegada) * v_valor_fracao_combustivel;
                SET NEW.valor_final = NEW.valor_final + v_custo_combustivel;
            END IF;
        END IF;

    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `locacao_opcional`
--

DROP TABLE IF EXISTS `locacao_opcional`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `locacao_opcional` (
  `id_locacao_opcional` int NOT NULL AUTO_INCREMENT,
  `id_locacao` int NOT NULL,
  `id_opcional` int NOT NULL,
  `quantidade` int NOT NULL,
  PRIMARY KEY (`id_locacao_opcional`),
  KEY `id_opcional` (`id_opcional`),
  KEY `locacao_opcional_ibfk_1` (`id_locacao`),
  CONSTRAINT `locacao_opcional_ibfk_1` FOREIGN KEY (`id_locacao`) REFERENCES `locacao` (`id_locacao`) ON DELETE CASCADE,
  CONSTRAINT `locacao_opcional_ibfk_2` FOREIGN KEY (`id_opcional`) REFERENCES `opcional` (`id_opcional`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `locacao_opcional`
--

LOCK TABLES `locacao_opcional` WRITE;
/*!40000 ALTER TABLE `locacao_opcional` DISABLE KEYS */;
INSERT INTO `locacao_opcional` VALUES (22,39,1,1);
/*!40000 ALTER TABLE `locacao_opcional` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `manutencao`
--

DROP TABLE IF EXISTS `manutencao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `manutencao` (
  `id_manutencao` int NOT NULL AUTO_INCREMENT,
  `data_entrada` date NOT NULL,
  `data_saida` date DEFAULT NULL,
  `descricao_servico` text NOT NULL,
  `custo` decimal(10,2) NOT NULL,
  `id_veiculo` int NOT NULL,
  `status` enum('Em andamento','Concluída') NOT NULL DEFAULT 'Em andamento',
  PRIMARY KEY (`id_manutencao`),
  KEY `id_veiculo` (`id_veiculo`),
  CONSTRAINT `manutencao_ibfk_1` FOREIGN KEY (`id_veiculo`) REFERENCES `veiculo` (`id_veiculo`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `manutencao`
--

LOCK TABLES `manutencao` WRITE;
/*!40000 ALTER TABLE `manutencao` DISABLE KEYS */;
INSERT INTO `manutencao` VALUES (4,'2025-11-01','2025-11-08','Troca de motor',500.00,14,'Concluída');
/*!40000 ALTER TABLE `manutencao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marca`
--

DROP TABLE IF EXISTS `marca`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `marca` (
  `id_marca` int NOT NULL AUTO_INCREMENT,
  `nome_marca` varchar(100) NOT NULL,
  PRIMARY KEY (`id_marca`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marca`
--

LOCK TABLES `marca` WRITE;
/*!40000 ALTER TABLE `marca` DISABLE KEYS */;
INSERT INTO `marca` VALUES (1,'Renault'),(2,'Volkswagen'),(3,'BYD'),(4,'FIAT'),(5,'BMW');
/*!40000 ALTER TABLE `marca` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `modelo`
--

DROP TABLE IF EXISTS `modelo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `modelo` (
  `id_modelo` int NOT NULL AUTO_INCREMENT,
  `nome_modelo` varchar(100) NOT NULL,
  `id_marca` int NOT NULL,
  `id_categoria_veiculo` int NOT NULL,
  PRIMARY KEY (`id_modelo`),
  KEY `id_marca` (`id_marca`),
  KEY `id_categoria_veiculo` (`id_categoria_veiculo`),
  CONSTRAINT `modelo_ibfk_1` FOREIGN KEY (`id_marca`) REFERENCES `marca` (`id_marca`),
  CONSTRAINT `modelo_ibfk_2` FOREIGN KEY (`id_categoria_veiculo`) REFERENCES `categoria_veiculo` (`id_categoria_veiculo`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `modelo`
--

LOCK TABLES `modelo` WRITE;
/*!40000 ALTER TABLE `modelo` DISABLE KEYS */;
INSERT INTO `modelo` VALUES (1,'kwid',1,1),(2,'Virtus',2,2),(3,'X3',5,3),(4,'Dolphin',3,5),(5,'Toro',4,4),(6,'Uno',4,1),(7,'Seal',3,2),(8,'Captur',1,3),(9,'Saveiro',2,4),(10,'Pulse',4,2);
/*!40000 ALTER TABLE `modelo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `opcional`
--

DROP TABLE IF EXISTS `opcional`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `opcional` (
  `id_opcional` int NOT NULL AUTO_INCREMENT,
  `descricao` varchar(255) NOT NULL,
  `valor_diaria` decimal(10,2) NOT NULL,
  PRIMARY KEY (`id_opcional`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `opcional`
--

LOCK TABLES `opcional` WRITE;
/*!40000 ALTER TABLE `opcional` DISABLE KEYS */;
INSERT INTO `opcional` VALUES (1,'Cadeira de Bebê',25.00),(2,'GPS',15.00),(3,'Bagageiro de Teto',40.00);
/*!40000 ALTER TABLE `opcional` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagamento`
--

DROP TABLE IF EXISTS `pagamento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagamento` (
  `id_pagamento` int NOT NULL AUTO_INCREMENT,
  `data_pagamento` datetime NOT NULL,
  `valor` decimal(10,2) NOT NULL,
  `id_locacao` int NOT NULL,
  `id_forma_pagamento` int NOT NULL,
  PRIMARY KEY (`id_pagamento`),
  KEY `id_locacao` (`id_locacao`),
  KEY `id_forma_pagamento` (`id_forma_pagamento`),
  CONSTRAINT `pagamento_ibfk_1` FOREIGN KEY (`id_locacao`) REFERENCES `locacao` (`id_locacao`),
  CONSTRAINT `pagamento_ibfk_2` FOREIGN KEY (`id_forma_pagamento`) REFERENCES `forma_pagamento` (`id_forma_pagamento`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagamento`
--

LOCK TABLES `pagamento` WRITE;
/*!40000 ALTER TABLE `pagamento` DISABLE KEYS */;
INSERT INTO `pagamento` VALUES (2,'2025-11-25 16:26:12',1015.00,39,2);
/*!40000 ALTER TABLE `pagamento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguro`
--

DROP TABLE IF EXISTS `seguro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seguro` (
  `id_seguro` int NOT NULL AUTO_INCREMENT,
  `companhia` varchar(100) NOT NULL,
  `vencimento` date NOT NULL,
  PRIMARY KEY (`id_seguro`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguro`
--

LOCK TABLES `seguro` WRITE;
/*!40000 ALTER TABLE `seguro` DISABLE KEYS */;
INSERT INTO `seguro` VALUES (1,'Porto Seguro','2026-10-01'),(2,'Azul Seguros','2026-10-15'),(3,'Allianz','2026-11-30'),(4,'Tokio Marine','2027-01-10'),(5,'Bradesco Seguros','2026-09-01'),(6,'Porto Seguro','2027-02-01'),(7,'Allianz','2027-02-10'),(8,'Azul Seguros','2027-03-05'),(9,'Tokio Marine','2027-04-15'),(10,'Bradesco Seguros','2025-11-30');
/*!40000 ALTER TABLE `seguro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `status_veiculo`
--

DROP TABLE IF EXISTS `status_veiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `status_veiculo` (
  `id_status_veiculo` int NOT NULL AUTO_INCREMENT,
  `descricao_status` varchar(50) NOT NULL,
  PRIMARY KEY (`id_status_veiculo`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `status_veiculo`
--

LOCK TABLES `status_veiculo` WRITE;
/*!40000 ALTER TABLE `status_veiculo` DISABLE KEYS */;
INSERT INTO `status_veiculo` VALUES (1,'Disponível'),(2,'Alugado'),(3,'Em Manutenção');
/*!40000 ALTER TABLE `status_veiculo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `id_usuario` int NOT NULL AUTO_INCREMENT,
  `email` varchar(100) NOT NULL,
  `senha` varchar(255) NOT NULL,
  `perfil` varchar(100) NOT NULL,
  PRIMARY KEY (`id_usuario`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
INSERT INTO `usuario` VALUES (1,'empresateste74@gmail.com','$2b$12$G6XiPq1a47SdxPNLsfyiHObtM6renRqJUlkpZnLO7jfA2M5CJDhSC','Gerente'),(9,'yguilherme1358@gmail.com','$2b$12$LMhLfAxbzhgqNarYNOpOLutKEQkjREhIUFdNtegGLNer4yj7eK04K','cliente');
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `veiculo`
--

DROP TABLE IF EXISTS `veiculo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `veiculo` (
  `id_veiculo` int NOT NULL AUTO_INCREMENT,
  `placa` varchar(8) NOT NULL,
  `ano` int NOT NULL,
  `cor` varchar(50) NOT NULL,
  `chassi` varchar(17) NOT NULL,
  `quilometragem` int NOT NULL,
  `transmissao` varchar(100) NOT NULL,
  `data_compra` date NOT NULL,
  `valor_compra` int NOT NULL,
  `data_vencimento` date NOT NULL,
  `id_modelo` int NOT NULL,
  `id_status_veiculo` int NOT NULL,
  `id_combustivel` int NOT NULL,
  `tanque` int NOT NULL,
  `tanque_fracao` decimal(5,4) NOT NULL,
  `valor_fracao` decimal(10,2) NOT NULL,
  `id_seguro` int DEFAULT NULL,
  PRIMARY KEY (`id_veiculo`),
  UNIQUE KEY `placa` (`placa`),
  UNIQUE KEY `chassi` (`chassi`),
  KEY `id_modelo` (`id_modelo`),
  KEY `id_status_veiculo` (`id_status_veiculo`),
  KEY `id_combustivel` (`id_combustivel`),
  KEY `fk_seguro` (`id_seguro`),
  CONSTRAINT `veiculo_ibfk_1` FOREIGN KEY (`id_modelo`) REFERENCES `modelo` (`id_modelo`),
  CONSTRAINT `veiculo_ibfk_2` FOREIGN KEY (`id_status_veiculo`) REFERENCES `status_veiculo` (`id_status_veiculo`),
  CONSTRAINT `veiculo_ibfk_3` FOREIGN KEY (`id_combustivel`) REFERENCES `combustivel` (`id_combustivel`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `veiculo`
--

LOCK TABLES `veiculo` WRITE;
/*!40000 ALTER TABLE `veiculo` DISABLE KEYS */;
INSERT INTO `veiculo` VALUES (14,'AAA1A23',2025,'branca','12345678901234567',6000,'manual','2025-11-07',10000,'2025-11-20',1,1,1,50,8.0000,42.50,NULL);
/*!40000 ALTER TABLE `veiculo` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_calcula_valor_fracao_veiculo` BEFORE INSERT ON `veiculo` FOR EACH ROW BEGIN
    -- Se o tanque foi informado, calcula a regra de negócio
    IF NEW.tanque IS NOT NULL AND NEW.tanque > 0 THEN
        SET NEW.valor_fracao = (NEW.tanque * 6) / 8 + 5;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-25 20:38:18