{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Grupo de Carros</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Grupos de Carros</h1>
    {% for categoria in categorias %}
    <div class="categoria">
        <a href="{{ url_for('veiculos.veiculos_por_categoria', id_categoria=categoria.id_categoria) }}" class="categoria-link">
            <h2>{{ categoria.nome_categoria }} - R$ {{ categoria.valor_diaria }} p/dia</h2>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
